{% extends 'base.html' %}
{% block title %}
Rooms Page
{% endblock title %}



{% block content %}
    <!-- list of rooms -->
    <div class="row">
        {% for room in rooms %}
            <div class="col-sm-6">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.roomnumber }}</h5>
                        <p class="card-text">
                            <ul class="extras">
                                {% for extra in room.roomextras_set.all %}
                                    <li class="extraitem">{{ extra.roomextra_name }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                        <a href="{% url 'room_detail' room.roomnumber_url %}" class="btn btn-dark">View Room</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="create-room">
        <a href="{% url 'room_create' %}"><button class="btn btn-primary">Create Room</button></a>
    </div>
    
{% endblock content %}