.roomlisttable{
    text-align: center;
    width: 90%;
}
.navbar{
    padding: 10px;
}
.card{
    margin-top: 10px;
}
.btn{
    margin-top: 8px;
}

.table>:not(caption)>*>*{
    padding: 7px 7px;
}

/* th{
    text-align: right;
} */

table{
    width: 70px;
}
.asteriskField{
    color: red;
}